<nav>


<img class="anar-logo" src="/img/logo.svg">



<ul class="main-nav" id="desktopNav">
{% for item in craft.entries.section('navigationLinks') %}
<li>

{% if item.extLinkUrl %}

<a data="{{ item.slug }}" class="nav-link futura-bold nav-item" href="{{ item.extLinkUrl }}" target="_blank">

{% else %}

<a data="{{ item.slug }}" class="nav-link futura-bold nav-item" href="#{{ item.slug }}">


{% endif %}


{{ item.title }}
</a>
</li>
{% endfor %}
</ul>


<ul class="social">

{% for item in craft.entries.section('mailingList') %}
  <li>
    <div class="mailing-list-join">
    <a data-toggle="modal" data-target="#modal" href="javascript://" id="button" style="color: #DF5857;font-size: 18px;outline: none;text-decoration:none;">
      <img src="/img/mailing-list.svg">
    </a>
    </div>
  </li>
{% endfor %}

{% for socialItem in craft.entries.section('socialLinks') %}
<li>
<a target="_blank" href="{{ socialItem.linkUrl }}">
{% for asset in socialItem.socialIcon %}
    <img src="/img/{{ asset.getPath() }}">
{% endfor %}
</a>
</li>
{% endfor %}





</ul>
<div class="mobile-menu">_</div>
</nav>

<div class="navwave desktop">


<svg style="margin-top: 8px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1660.05 80.02"><defs><style>.cls-1{fill:#d7555d;}</style></defs><title>header</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1 wave" d="M-429.85-750v34H-430v26.39c3.39,1.48,6.64,3.07,9.92,4.68,14.95,7.34,30.41,14.93,61,14.93s46.08-7.59,61-14.93c13.71-6.72,26.66-13.07,53.1-13.07s39.39,6.35,53.1,13.07c14.95,7.34,30.41,14.93,61,14.93s46.09-7.59,61-14.93C-56-691.63-43.1-698-16.65-698s39.39,6.35,53.1,13.07C51.4-677.57,66.86-670,97.48-670s46.08-7.59,61-14.93c13.71-6.72,26.66-13.07,53.1-13.07s39.39,6.35,53.1,13.07c15,7.34,30.41,14.93,61,14.93s46.08-7.59,61-14.93c13.71-6.72,26.66-13.07,53.1-13.07s39.4,6.35,53.1,13.07c14.95,7.34,30.41,14.93,61,14.93s46.08-7.59,61-14.93c13.71-6.72,26.65-13.07,53.1-13.07s39.39,6.35,53.1,13.07c15,7.34,30.41,14.93,61,14.93s46.08-7.59,61-14.93C857-691.63,870-698,896.4-698s39.4,6.35,53.11,13.07c15,7.34,30.41,14.93,61,14.93s46.08-7.59,61-14.93c13.71-6.72,26.66-13.07,53.11-13.07s39.4,6.35,53.11,13.08c13.45,6.59,27.32,13.39,52.26,14.69V-750Z" transform="translate(430 750)"/></g></g></svg>


</div>



{# <div class="slideDownMenu">123

<div class="slideDownMenuContainer">
<div class="slideDownMenuBottom">
  2124
</div>
</div>
</div> #}



<div class="mob-men">
<div class="mob-men-boundary">

{# nav here #}

<ul class="main-nav mobile">
{% for item in craft.entries.section('navigationLinks') %}
<li>

{% if item.extLinkUrl %}

<a class="nav-link futura-bold" href="{{ item.extLinkUrl }}">

{% else %}

<a class="nav-link futura-bold" href="#{{ item.slug }}">


{% endif %}

{{ item.title }}
</a>
</li>
{% endfor %}

  <li>
{% for item in craft.entries.section('mailingList') %}

    <div class="mailing-list-join" style="display: inline-block;">
    <a href="{{ item.linkUrl }}">
      {# join mailing list #}
<img src="/img/mailing-list.svg">
    </a>
    </div>

{% endfor %}

{% for socialItem in craft.entries.section('socialLinks') %}

<a class="soc_underline" target="_blank" href="{{ socialItem.linkUrl }}">
{% for asset in socialItem.socialIcon %}
    <img src="/img/{{ asset.getPath() }}">
{% endfor %}
</a>

{% endfor %}

</li>



</ul>




<ul class="social mobile" style="display:none;">
{% for item in craft.entries.section('mailingList') %}
  <li>
    <div class="mailing-list-join">
    <a href="{{ item.extLinkUrl }}">
      {# join mailing list #}
<img src="/img/mailing-list.svg">
    </a>
    </div>
  </li>
{% endfor %}

{% for socialItem in craft.entries.section('socialLinks') %}
<li>
<a target="_blank" href="{{ socialItem.linkUrl }}">
{% for asset in socialItem.socialIcon %}
    <img src="/img/{{ asset.getPath() }}">
{% endfor %}
</a>
</li>
{% endfor %}





</ul>


{# nav here #}

<div class="navwave">navwave</div>

</div>


<svg style="margin-top: -12px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1660.05 80.02"><defs><style>.cls-1{fill:#d7555d;}</style></defs><title>header</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1 wave" d="M-429.85-750v34H-430v26.39c3.39,1.48,6.64,3.07,9.92,4.68,14.95,7.34,30.41,14.93,61,14.93s46.08-7.59,61-14.93c13.71-6.72,26.66-13.07,53.1-13.07s39.39,6.35,53.1,13.07c14.95,7.34,30.41,14.93,61,14.93s46.09-7.59,61-14.93C-56-691.63-43.1-698-16.65-698s39.39,6.35,53.1,13.07C51.4-677.57,66.86-670,97.48-670s46.08-7.59,61-14.93c13.71-6.72,26.66-13.07,53.1-13.07s39.39,6.35,53.1,13.07c15,7.34,30.41,14.93,61,14.93s46.08-7.59,61-14.93c13.71-6.72,26.66-13.07,53.1-13.07s39.4,6.35,53.1,13.07c14.95,7.34,30.41,14.93,61,14.93s46.08-7.59,61-14.93c13.71-6.72,26.65-13.07,53.1-13.07s39.39,6.35,53.1,13.07c15,7.34,30.41,14.93,61,14.93s46.08-7.59,61-14.93C857-691.63,870-698,896.4-698s39.4,6.35,53.11,13.07c15,7.34,30.41,14.93,61,14.93s46.08-7.59,61-14.93c13.71-6.72,26.66-13.07,53.11-13.07s39.4,6.35,53.11,13.08c13.45,6.59,27.32,13.39,52.26,14.69V-750Z" transform="translate(430 750)"></path></g></g></svg>

</div>


