<section id="press" class="body-section">
<div class="pressContainer">
<ul>

{% for item in craft.entries.section('press') %}
<li>
  <a class="futura-italic" href="{{ item.linkUrl }}">{{ item.title }}</a>
  <br>
  <a class="futura" href="{{ item.linkUrl }}">{{ item.subTitle }}</a>
</li>
{% endfor %}


{% for item in craft.entries.section('press') %}
<li>
  <a class="futura-italic" href="{{ item.linkUrl }}">{{ item.title }}</a>
  <br>
  <a class="futura" href="{{ item.linkUrl }}">{{ item.subTitle }}</a>
</li>
{% endfor %}

{% for item in craft.entries.section('press') %}
<li>
  <a class="futura-italic" href="{{ item.linkUrl }}">{{ item.title }}</a>
  <br>
  <a class="futura" href="{{ item.linkUrl }}">{{ item.subTitle }}</a>
</li>
{% endfor %}

{% for item in craft.entries.section('press') %}
<li>
  <a class="futura-italic" href="{{ item.linkUrl }}">{{ item.title }}</a>
  <br>
  <a class="futura" href="{{ item.linkUrl }}">{{ item.subTitle }}</a>
</li>
{% endfor %}



</ul>
</div>
</section>